<div class="container">
    <h3>Account</h3>
    <account-modal on-send="model.updateAccount(account)"
                   class="modal fade"
                   tabindex="-1"
                   role="dialog"
                   account="model.currentAccount"
                   id="editAccountModal"></account-modal>
    <button type="button"
            class="btn btn-primary"
            ng-click="model.delete()">
        Del
    </button>
    <button type="button"
            class="btn btn-primary"
            ng-click="model.setAccount()"
            data-toggle="modal"
            data-target="#editAccountModal">
        Mod
    </button>
    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Login</th>
            <th>Email</th>
            <th>Age</th>
            <th>Gender</th>
            <th>Phone</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>{{model.account.id}}</td>
            <td>{{model.account.name}}</td>
            <td>{{model.account.login}}</td>
            <td>{{model.account.email}}</td>
            <td>{{model.account.age}}</td>
            <td>{{model.account.gender}}</td>
            <td>{{model.account.phoneNumber}}</td>
        </tr>
        </tbody>
    </table>
    <div id="chart1" style="width:100%; height:400px;"></div>
</div>


