<div class="container" id="table">
    <div class="header">
        <div class="col-xs-3">Id</div>
        <div class="col-xs-3">Name</div>
        <div class="col-xs-3">Login</div>
        <div class="col-xs-3">Email</div>
    </div>
    <div class="panel-group" id="accordion">
        <div ng-repeat="account in model.accounts track by $index"
             class="panel"
             ng-click="model.openDetails(account.id)">
            <div class="col-xs-3">
                {{account.id}}
            </div>
            <div class="col-xs-3">
                {{account.name}}
            </div>
            <div class="col-xs-3">
                {{account.login}}
            </div>
            <div class="col-xs-3">
                {{account.email}}
            </div>
        </div>
        <button type="button" class="btn btn-primary add-button"
                data-toggle="modal"
                data-target="#createAccountModal">Add</button>
        <account-modal on-create="model.create(newAccount)"
                       class="modal fade"
                       tabindex="-1"
                       role="dialog"
                       account="{}"
                       id="createAccountModal"></account-modal>
    </div>
</div>